<h1>Login</h1>

<form action="/login" method="POST" enctype="application/x-www-form-urlencoded">

    <div class="input-group mb-1">
        <label class="input-group-text">Email</label>
        <input type="email" class="form-group" name="email"/>
    </div>
    <div class="input-group mb-1">
        <label class="input-group-text">Password</label>
        <input type="password" class="form-group" name="password"/>
    </div>
    
    <button type="submit" class="btn btn-primary" class="my-3">Login</button>
</form>